/* extend */
.contenido_galeria .contenido_cadaImagenGal:hover, .contenido_tutoriales .contenido_cadaVideoTut:hover, .contenido_cadaEmp:hover .contenido--txtEmpleadoCon {
  -webkit-box-shadow: 10px 10px 14px 2px #8a8989;
  box-shadow: 10px 10px 14px 2px #646363; }

.contenido_galeria .contenido_cadaImagenGal:hover, .contenido_tutoriales .contenido_cadaVideoTut:hover {
  transform: scale(1.2, 1.2);
  z-index: 100;
  transition: 0.3s linear; }

.contenido_servicios .contenido_txtSobreDer, .contenido_servicios .contenido_txtSobreIzq {
  background: white;
  border: solid 2px;
  padding: 2%;
  box-shadow: 2px 2px 2px #bdbcbc;
  z-index: 10; }
  .contenido_servicios .contenido_txtSobreDer .contenido--tituloCadaServ, .contenido_servicios .contenido_txtSobreIzq .contenido--tituloCadaServ {
    text-decoration: underline #ca0d0d;
    color: #ca0d0d;
    text-underline-position: under; }

/* mixin */
body {
  font-family: 'Mulish', sans-serif;
  font-size: 20px;
  background-color: 255, 255, 255; }

a, ul {
  text-decoration: none; }

li {
  list-style: none; }

/* index */
.contenido-imgSlider {
  height: 400px;
  object-fit: cover;
  margin: 2%; }

.carousel-caption {
  text-align: end;
  width: 40%;
  display: absolute;
  top: 25%;
  left: 55%;
  color: #252525;
  padding: 15px;
  font-size: 16px;
  font-weight: bold;
  text-shadow: 1px 1px 2px white, 0 0 1em white, 0 0 0.2em rgba(255, 255, 255, 0.308);
  height: fit-content; }
  .carousel-caption .contenido_titImgSlider {
    color: #037a03; }

/* servicios */
.contenido_tituloServicios {
  width: fit-content;
  margin: auto;
  padding: 1%;
  color: #ca0d0d;
  text-decoration: underline;
  text-underline-position: under; }

.contenido_servicios {
  margin: 1%;
  color: #585858;
  border-bottom: 1px solid #ca0d0d;
  padding: 4% 0;
  font-size: 16px;
  background-color: white; }
  .contenido_servicios .contenido-cadaImagen {
    border: 2px solid #ca0d0d;
    box-shadow: 2px 2px 2px #bdbcbc; }
    .contenido_servicios .contenido-cadaImagen .contenido--imgServ {
      height: 360px;
      object-fit: cover; }
  .contenido_servicios .contenido_txtSobreDer {
    transform: translate(-50px, 15px);
    animation: ingresoDer 1s; }

@keyframes ingresoDer {
  0% {
    transform: translateZ(700px) translateY(300px) translateX(400px);
    opacity: 0; }
  100% {
    transform: translate(-50px, 15px);
    opacity: 1; } }
  .contenido_servicios .contenido_txtSobreIzq {
    transform: translate(60px, 15px);
    animation: ingresoIzq 1s; }

@keyframes ingresoIzq {
  0% {
    transform: translateZ(700px) translateY(300px) translateX(-400px);
    opacity: 0; }
  100% {
    transform: translate(60px, 15px);
    opacity: 1; } }

/* media query */
@media (max-width: 780px) {
  .carousel {
    margin-top: 30px; }
    .carousel .carousel--imgServ {
      object-fit: cover;
      height: 360px; }
    .carousel-caption {
      left: 50%; }
  .cont_imagenServ {
    width: fit-content; }
  .contenido_servicios .contenido_txtSobreDer {
    transform: translate(0, 15px);
    animation: ingresoDer 1s; }
  @keyframes ingresoDer {
    0% {
      transform: translateZ(700px) translateY(300px) translateX(400px);
      opacity: 0; }
    100% {
      transform: translate(0, 15px);
      opacity: 1; } }
  .contenido_servicios .contenido_txtSobreIzq {
    transform: translate(0, 15px);
    animation: ingresoIzq 1s; }
  @keyframes ingresoIzq {
    0% {
      transform: translateZ(700px) translateY(300px) translateX(-400px);
      opacity: 0; }
    100% {
      transform: translate(0, 15px);
      opacity: 1; } } }

@media (max-width: 425px) {
  #container_slider {
    display: none; }
  .contenido_txtSobreDer {
    transform: translate(0, 15px); }
  @keyframes ingresoDer {
    0% {
      transform: translateZ(700px) translateY(300px) translateX(400px);
      opacity: 0; }
    100% {
      transform: translate(0, 15px);
      opacity: 1; } }
  .contenido_txtSobreIzq {
    transform: translate(0, 15px); }
  @keyframes ingresoIzq {
    0% {
      transform: translateZ(700px) translateY(300px) translateX(-400px);
      opacity: 0; }
    100% {
      transform: translate(0, 15px);
      opacity: 1; } } }

/* CABECERA */
/* FONDOS CABECERAS */
.tuercaLogo {
  position: absolute;
  width: 4.3%;
  margin-left: 1%;
  animation-name: rotacion;
  animation-duration: 7s;
  animation-iteration-count: infinite; }

@keyframes rotacion {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

@-webkit-keyframes rotacion {
  from {
    -webkit-transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg); } }

.textoLogo {
  margin: 5px 18px;
  width: 60%; }

.cabecera_logo {
  width: 300px;
  padding: 0.5%; }

.navbar-collapse {
  flex-basis: 100%;
  flex-grow: 0;
  align-items: center;
  justify-content: end; }

/*Colores texto menu*/
/* MAPA */
.cabecera-menuInicio {
  color: #ca0d0d;
  display: block;
  padding: 0.5rem 1rem; }
  .cabecera-menuInicio:hover {
    text-decoration: underline;
    color: #ca0d0d; }

.cabecera-menuNosotros {
  color: #fd6128;
  display: block;
  padding: 0.5rem 1rem; }
  .cabecera-menuNosotros:hover {
    text-decoration: underline;
    color: #fd6128; }

.cabecera-menuGaleria {
  color: #ecec05;
  display: block;
  padding: 0.5rem 1rem; }
  .cabecera-menuGaleria:hover {
    text-decoration: underline;
    color: #ecec05; }

.cabecera-menuTutoriales {
  color: #037a03;
  display: block;
  padding: 0.5rem 1rem; }
  .cabecera-menuTutoriales:hover {
    text-decoration: underline;
    color: #037a03; }

.cabecera-menuContacto {
  color: #0808a8;
  display: block;
  padding: 0.5rem 1rem; }
  .cabecera-menuContacto:hover {
    text-decoration: underline;
    color: #0808a8; }

/*fin Colores Menu*/
@media only screen and (max-width: 768px) {
  .tuercaLogo {
    width: 8.5%; } }

@media only screen and (max-width: 320px) {
  .textoLogo {
    margin: 5px 20px;
    width: 80%; }
  .tuercaLogo {
    width: 15%; } }

.pie {
  background-color: #3f3e3e;
  margin-top: 2%;
  padding: 2%;
  text-align: center; }
  .pie .pie_logo {
    width: 300px;
    padding: 0.5%; }
  .pie .pie_navegacion {
    text-align: center; }
    .pie .pie_navegacion li a {
      text-decoration: none;
      color: white; }
      .pie .pie_navegacion li a:hover {
        color: #9b9999; }
  .pie .pie--iconoRedes {
    text-decoration: none;
    color: white;
    font-size: 30px; }
    .pie .pie--iconoRedes:hover {
      color: #9b9999; }

.contenido_tituloCon {
  width: fit-content;
  margin: auto;
  padding: 1%;
  color: #fd6128;
  text-decoration: underline;
  text-underline-position: under; }

.contenido_propositoCon {
  margin: 3%;
  padding-bottom: 3%;
  border-bottom: 1px solid #fd6128;
  color: #585858; }
  .contenido_propositoCon--imgGrupalCon {
    padding: .5%;
    margin: auto;
    object-fit: cover;
    max-width: 40%;
    min-width: 300px;
    border: 1px solid #fd6128; }

.contenido_cadaEmp {
  align-items: center;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: space-evenly;
  transition: .3s linear; }
  .contenido_cadaEmp:hover {
    transform: scale(1.2, 1.2);
    z-index: 100; }
  .contenido_cadaEmp:hover .contenido--txtEmpleadoCon {
    background: #fd865b;
    color: white; }
  .contenido_cadaEmp .contenido--fotoEmplCon {
    width: 200px;
    height: 200px;
    margin: 0 20%;
    padding: 1%;
    border: 1px solid #fd6128;
    border-radius: 50%;
    object-fit: cover;
    z-index: 10;
    background-color: white; }
  .contenido_cadaEmp .contenido--txtEmpleadoCon {
    padding: 35px 10px 10px;
    border-radius: 2%;
    font-size: 15px;
    position: relative;
    top: -30px;
    border: 2px solid #fd6128;
    color: #585858;
    font-weight: 600;
    z-index: 1;
    height: 200px;
    width: 90%;
    overflow-y: scroll; }

.contenido_tituloGal {
  width: fit-content;
  margin: auto;
  padding: 1%;
  color: #585858;
  text-decoration: underline;
  text-underline-position: under; }

.contenido_galeria {
  flex-wrap: wrap;
  padding-bottom: 3%; }
  .contenido_galeria .contenido_cadaImagenGal {
    width: 20rem;
    align-items: center;
    flex-wrap: nowrap;
    border: 2px solid #ecec05;
    border-radius: 2%;
    font-size: 15px;
    background-color: white;
    color: #585858;
    padding: 1%;
    margin: 2%; }
    .contenido_galeria .contenido_cadaImagenGal:hover {
      background-color: #fcfc5b; }
    .contenido_galeria .contenido_cadaImagenGal .card_imgGal {
      height: 230px;
      object-fit: cover; }

.contenido_tituloTut {
  width: fit-content;
  margin: auto;
  padding: 1%;
  color: #037a03;
  text-decoration: underline;
  text-underline-position: under; }

.contenido_tutoriales {
  flex-wrap: wrap;
  align-items: center; }
  .contenido_tutoriales .contenido_cadaVideoTut {
    width: 20rem;
    align-items: center;
    flex-wrap: nowrap;
    border: 2px solid #037a03;
    border-radius: 2%;
    font-size: 15px;
    background-color: white;
    color: #037a03;
    padding: 1%;
    margin: 2%; }
    .contenido_tutoriales .contenido_cadaVideoTut:hover {
      background-color: #037a03;
      color: white; }
    .contenido_tutoriales .contenido_cadaVideoTut .contenido-videoTut {
      margin: 1% 20%;
      border-radius: 2%;
      border-bottom: 2px solid #037a03; }
    .contenido_tutoriales .contenido_cadaVideoTut .contenido_txtVideo {
      height: 200px;
      overflow-y: scroll; }
  .contenido_tutoriales .fondoModalTut {
    color: white;
    background-color: #037a03; }
    .contenido_tutoriales .fondoModalTut_video {
      width: -webkit-fill-available;
      height: 400px; }
  .contenido_tutoriales .tituloModalTut {
    color: #037a03; }

.contenido_tituloContacto {
  width: fit-content;
  margin: auto;
  padding: 1%;
  color: #0808a8;
  text-decoration: underline;
  text-underline-position: under; }

.contenido_formulario {
  flex-wrap: wrap;
  align-items: center;
  padding: 3%;
  background-color: #060677;
  border-radius: 0.5%;
  color: white; }
  .contenido_formulario .contenido_serviciosChk {
    align-items: flex-start;
    padding: 1%;
    background-color: #2222f4;
    border-radius: 0.5%;
    font-size: 15PX;
    text-align: center;
    margin: 1%; }
  .contenido_formulario .contenido--btnCon {
    width: 30%;
    background: #2222f4;
    color: white;
    font-size: 18px; }

.contenido_ubicacion {
  background-color: #060677;
  color: white; }
  .contenido_ubicacion .contenido-imgMapa {
    min-height: 50vh;
    width: 100%; }
