.contenido_tituloContacto{
    @include tituloPrincipal($colorPrimarioContacto);
    
}

.contenido_formulario{
    flex-wrap: wrap;
    align-items: center;
    padding: 3%;
    background-color: darken($colorPrimarioContacto,10) ;
    border-radius: 0.5%;
    color: $fondoClaro;
    .contenido_serviciosChk{
         align-items: flex-start;
         padding: 1%;
         background-color: lighten($colorPrimarioContacto,20);
         border-radius: 0.5%;
         font-size: 15PX;
         text-align: center;
         margin: 1%;

         .form-check-input:checked {
            background-color: #fa9907;
            
        }
     }
     /* .form-control:focus{
         border-color: #fa9907;
         box-shadow: 10px 10px 14px 2px $colorPrimarioContacto;   
     } */
     textarea:focus, input:focus, input[type]:focus {
        border-color: rgb(255, 144, 0);
        box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075)inset, 0 0 8px rgb(255, 144, 0);;
        /* box-shadow: 10px 10px 14px 2px $colorPrimarioContacto;  */
        outline: 0 none;
    }
     .contenido--btnCon{
        width: 30%;
        background: lighten($colorPrimarioContacto,20);
        color: $fondoClaro;
        font-size: 18px;
    }
}

.contenido_ubicacion{
     background-color: darken($colorPrimarioContacto,10)  ;
     color: $fondoClaro;

     .contenido-imgMapa{
        min-height: 50vh;
        width: 100%;
    }
 }