.contenido_tituloGal{
    @include tituloPrincipal($colorSecundario);
}

.contenido_galeria{
    flex-wrap: wrap;
    padding-bottom: 3%;

    .contenido_cadaImagenGal{
        @include contenidoImgVideo($colorPrimarioGaleria, $colorSecundario);
        &:hover{
            @extend %animacionAgrandar;
            background-color: lighten($colorPrimarioGaleria,20);
            
        }

        .card_imgGal{
            height: 230px;
            object-fit: cover;
        } 
    
    }
}
@media (max-width:425px){
    
    .contenido_galeria {
        .contenido_cadaImagenGal {
            margin:2% auto;
        }
    }

}



