body{
    font-family:'Mulish', sans-serif;
    font-size: 20px;
    background-color: (255, 255, 255);

}

a,ul{
    text-decoration: none;
}
li{
    list-style: none;
}
/* scroll */
.container::-webkit-scrollbar {
    width: 8px;     /* Tamaño vertical del scroll */
    height: 8px;    /* Tamaño horizontal del scroll */
    display: none;  /* Ocultar scroll */
}
/* Color de fondo y redondeamos las esquinas del thumb */
.container::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 4px;
}

/* Fondo y sombra cuando esté en hover */
.container::-webkit-scrollbar-thumb:hover {
    background: #b3b3b3;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

/* Fondo cuando esté  active */
.container::-webkit-scrollbar-thumb:active {
    background-color: #999999;
}
/* Color de fondo y esquinas redondeadas del track */
.container::-webkit-scrollbar-track {
    background: #e1e1e1;
    border-radius: 4px;
}

/* Fondo active o hover */
.container::-webkit-scrollbar-track:hover,
.container::-webkit-scrollbar-track:active {
  background: #d4d4d4;
}