/* CABECERA */

/* FONDOS CABECERAS */


    .tuercaLogo{
        position: absolute;
        width: 4.3%;
        margin-left: 1%;
        animation-name: rotacion;
        animation-duration: 7s;
        animation-iteration-count: infinite;
    }
    @keyframes rotacion {
        from {transform: rotate(0deg);}
        to {transform: rotate(360deg);}}
        @-webkit-keyframes rotacion {
            from {-webkit-transform: rotate(0deg);}
            to {-webkit-transform: rotate(360deg);}
        }
    .textoLogo{
        margin: 5px 18px;
        width: 60%;
    }
        .cabecera_logo{
            width: 300px;
            padding: 0.5%;
        }
    
        .navbar-collapse {
            flex-basis: 100%;
            flex-grow: 0;
            align-items: center;
            justify-content: end;
        }
    
        /*Colores texto menu*/
        /* MAPA */
        $coloresMenu:(
            menuInicio:$colorPrimarioIndex,
            menuNosotros:$colorPrimarioNosotros,
            menuGaleria:$colorPrimarioGaleria,
            menuTutoriales:$colorPrimarioTutoriales,
            menuContacto:$colorPrimarioContacto
        );

        @each $itemMenu, $color in $coloresMenu{
            .cabecera-#{$itemMenu}{
                color:$color;
                display: block;
                padding: 0.5rem 1rem;
                &:hover{
                    text-decoration: underline; 
                    color: $color;
                }
            }
        }
       
        /*fin Colores Menu*/

@media only screen and (max-width:768px){
    
    .tuercaLogo{
        width: 8.5%;
    }
} 
@media only screen and (max-width:320px){
    .textoLogo {
        margin: 5px 20px;
        width: 80%;
    }
    .tuercaLogo{
        width: 15%;
    } 
} 


