/* CABECERA */

/* FONDOS CABECERAS */
/* .fondoMenuIndex{
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0.61),rgb(249, 230, 230),rgb(255, 255, 255)); */

        .cabecera_logo{
            width: 300px;
            padding: 0.5%;
        }
    
        .navbar-collapse {
            flex-basis: 100%;
            flex-grow: 0;
            align-items: center;
            justify-content: end;
        }
    
        /*Colores texto menu*/
        /* MAPA */
        $coloresMenu:(
            menuInicio:$colorPrimarioIndex,
            menuNosotros:$colorPrimarioNosotros,
            menuGaleria:$colorPrimarioGaleria,
            menuTutoriales:$colorPrimarioTutoriales,
            menuContacto:$colorPrimarioContacto
        );

        @each $itemMenu, $color in $coloresMenu{
            .cabecera-#{$itemMenu}{
                color:$color;
                display: block;
                padding: 0.5rem 1rem;
                &:hover{
                    text-decoration: underline; 
                    color: $color;
                }
            }
        }
       
        /*fin Colores Menu*/
    
    
/* } */
