/* index */

.contenido-imgSlider{
    height: 400px;
    object-fit: cover;
    margin: 2%;

}
/* servicios */
.contenido_tituloServicios{
    color: $colorPrimarioIndex;
    margin: 3% 0;
    text-align: center;
    text-decoration: underline;
    text-underline-position: under; 
}

.contenido_servicios{
    margin: 1%;
    color: $colorSecundario;
    border-bottom: 1px solid $colorPrimarioIndex;
    padding: 4% 0;
    font-size: 16px;
    background-color: $fondoClaro;

    /* carrusel de cada servicio */
    .contenido-cadaImagen{
        border: 2px solid $colorPrimarioIndex;
        box-shadow: 2px 2px 2px $sombraCadaServicio;
        .contenido--imgServ{
            height: 360px;
            object-fit: cover;
        }
    
    }

    
    .contenido_txtSobreDer{
        transform: translate(-50px, 15px);
        background: $fondoClaro;
        border: solid 2px;
        padding: 2%;
        box-shadow: 2px 2px 2px $sombraCadaServicio;
        animation: ingresoDer 1s;
        .contenido--tituloCadaServ{
            text-decoration: underline $colorPrimarioIndex;
            color: $colorPrimarioIndex;
            text-underline-position: under; 
        }
    }
    @keyframes ingresoDer {
        0% {
            transform: translateZ(700px) translateY(300px) translateX(400px);
            opacity: 0;
        }
        100% {
                transform: translate(-50px, 15px);
                opacity: 1;
        }
    }
  
    
    .contenido_txtSobreIzq{
        transform: translate(60px, 15px);
        background: $fondoClaro;
        border: solid 2px;
        padding: 2%;
        box-shadow: 2px 2px 2px $sombraCadaServicio;
        z-index: 10;
        animation: ingresoIzq 1s;
        .contenido--tituloCadaServ{
            text-decoration: underline $colorPrimarioIndex;
            color: $colorPrimarioIndex;
            text-underline-position: under; 
        }
    }
    @keyframes ingresoIzq {
        0% {
            transform: translateZ(700px) translateY(300px) translateX(-400px);
            opacity: 0;
        }
        100% {
            transform: translate(60px, 15px);
            opacity: 1;
        }
    }
   
    
}

/* media query */
@media (max-width: 780px){
   
    .carousel {
        margin-top: 30px;
        .carousel--imgServ{
            object-fit: cover;
            height: 360px;
        }
    }

    .cont_imagenServ{
        width: fit-content;    
    }
    .contenido_servicios {
        .contenido_txtSobreDer {
            transform: translate(0, 15px);
            animation: ingresoDer 1s;
        }
        @keyframes ingresoDer {
            0% {
                transform: translateZ(700px) translateY(300px) translateX(400px);
                opacity: 0;
            }
            100% {
                    transform: translate(0, 15px);
                    opacity: 1;
            }
        }

    
        .contenido_txtSobreIzq {
            transform: translate(0, 15px);
            animation: ingresoIzq 1s;
        }
        
        @keyframes ingresoIzq {
            0% {
                transform: translateZ(700px) translateY(300px) translateX(-400px);
                opacity: 0;
            }
            100% {
                transform: translate(0, 15px);
                opacity: 1;
            }
        }
    }


}

    
@media (max-width:425px){
    
    #container_slider{
        display: none;
    }

    .contenido_txtSobreDer {
        transform: translate(0, 15px);
    }
    @keyframes ingresoDer {
        0% {
            transform: translateZ(700px) translateY(300px) translateX(400px);
            opacity: 0;
        }
        100% {
                transform: translate(0, 15px);
                opacity: 1;
        }
    }

   
    .contenido_txtSobreIzq {
        transform: translate(0, 15px);
    }
    
    @keyframes ingresoIzq {
        0% {
            transform: translateZ(700px) translateY(300px) translateX(-400px);
            opacity: 0;
        }
        100% {
            transform: translate(0, 15px);
            opacity: 1;
        }
    }

}