/* index */

.contenido-imgSlider{
    height: 400px;
    object-fit: cover;
    margin: 2%;

}
.carousel-caption{
    text-align: end;
    width: 40%;
    display: absolute;
    top: 25%;
    left: 55%;
    color: darken($colorSecundario,20);
    padding: 15px;
    font-size: 16px;
    font-weight: bold;
    text-shadow: 1px 1px 2px $fondoClaro, 0 0 1em lighten($fondoClaro,10), 0 0 0.2em $fondoClaroTransparente;
   
    height: fit-content;
    .contenido_titImgSlider{
        color:$colorPrimarioTutoriales;
    }
}
/* servicios */
.contenido_tituloServicios{
    @include tituloPrincipal($colorPrimarioIndex);
}

.contenido_servicios{
    margin: 1%;
    color: $colorSecundario;
    border-bottom: 1px solid $colorPrimarioIndex;
    padding: 4% 0;
    font-size: 16px;
    background-color: $fondoClaro;
    .contenido-cadaImagen{
        border: 2px solid $colorPrimarioIndex;
        box-shadow: 2px 2px 2px $colorSombra;
        .contenido--imgServ{
            height: 360px;
            object-fit: cover;
        }
    
    }

    .contenido_txtSobreDer{
       @include posicionIngreso(400px,true);
        opacity: 0;
        @extend %textoCadaServ;
    }
    @include animacionIngreso(400px,translate(-50px, 1px),true);
   
  
    
    .contenido_txtSobreIzq{
        @include posicionIngreso(-400px);
        opacity: 0;
        @extend %textoCadaServ;
    }
    @include animacionIngreso(400px,translate(60px, 15px));
   
    
}

/* media query */
@media (max-width: 780px){
   
    .carousel {
        margin-top: 30px;
        .carousel--imgServ{
            object-fit: cover;
            height: 360px;
        }
        &-caption{
            left: 50%;
        }
    }

    .cont_imagenServ{
        width: fit-content;    
    }
    .contenido_serviciosPintura{
        display: flex;
        flex-direction: column-reverse;
    }
    .contenido_servicios {
        .contenido_txtSobreDer {
            @include posicionIngreso(400px, true);
            opacity: 0;
        }
        @include animacionIngreso(400px,translate(0px, 15px),true);

        
        .contenido_txtSobreIzq {
            @include posicionIngreso(-400px);
            opacity: 0;
        }
        
        /* @keyframes ingresoIzq {
            0% {
                transform: translateZ(700px) translateY(300px) translateX(-400px);
                opacity: 0;
            }
            100% {
                transform: translate(0, 15px);
                opacity: 1;
            }
        } */
        @include animacionIngreso(400px,translate(0px, 15px));
    }


}

    
@media (max-width:425px){
    
    #container_slider{
        display: none;
    }

}