.contenido_tituloTut{
    @include tituloPrincipal($colorPrimarioTutoriales);
}

.contenido_tutoriales{
    flex-wrap: wrap;
    align-items: center;

    .contenido_cadaVideoTut{
      
        @include contenidoImgVideo($colorPrimarioTutoriales, $colorPrimarioTutoriales);
        &:hover{
            @extend %animacionAgrandar;
            background-color: $colorPrimarioTutoriales;
            color: $fondoClaro;
        }
    
        .contenido-videoTut{
            margin: 1% 20%;
            border-radius: 2%;
            border-bottom: 2px solid $colorPrimarioTutoriales;
        }
        .contenido_txtVideo{
            height: 200px;
            overflow-y: scroll;
        }
    }
    
    
    .fondoModalTut{
        color: $fondoClaro;
        background-color: $colorPrimarioTutoriales;
        &_video{
            width: -webkit-fill-available;
            height: 400px;
        }
    }
    .tituloModalTut{
        color:$colorPrimarioTutoriales;
    }
}

