

body{
    font-family:'Mulish', sans-serif;
    font-size: 20px;
    background-color: (255, 255, 255);

}

a,ul{
    text-decoration: none;
}
li{
    list-style: none;
}
/* CABECERA */
.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 0;
    align-items: center;
    justify-content: end;
}
/* FONDOS CABECERAS */
.fondoMenuIndex{
    background-image: linear-gradient(to top, rgb(255 255 255 / 57%),rgb(249 230 230),rgb(255, 255, 255));
}
.fondoMenuConocenos{
    background-image: linear-gradient(to top, rgb(255 255 255 / 57%),rgb(251 236 196),rgb(255, 255, 255));
}
.fondoMenuGaleria{
    background-image: linear-gradient(to top, rgb(255 255 255 / 57%),rgb(255, 254, 197),rgb(253 251 168),rgb(255 254 197),rgb(255, 255, 255));
}
.fondoMenuTutoriales{
    background-image: linear-gradient(to top, rgb(255 255 255 / 57%),rgb(130 231 130 / 45%),rgb(255, 255, 255));
}
.fondoMenuContacto{
    background-image: linear-gradient(to top, rgb(255 255 255 / 57%),rgb(210 210 255 / 42%),rgb(255, 255, 255));
}
 /* FIN DE FONDOS PARA CABECERAS */

/*Colores texto menu*/
.cabecera-menuInicio{
    color: rgb(202, 13, 13);
    display: block;
    padding: 0.5rem 1rem;
}
.cabecera-menuInicio:hover{
    text-decoration: underline; 
    color: rgb(202, 13, 13);
}

.cabecera-menuNosotros{
    color: rgb(253, 97, 40);
    display: block;
    padding: 0.5rem 1rem;
}

.cabecera-menuNosotros:hover{
    text-decoration: underline;
    color: rgb(253, 97, 40);
}

.cabecera-menuGaleria{
    color: rgb(236, 236, 5);
    display: block;
    padding: 0.5rem 1rem;
    text-shadow: 2px 2px 2px rgb(249 249 253);
}

.cabecera-menuGaleria:hover{
    text-decoration: underline;    
    color: rgb(236, 236, 5);
    text-shadow: 2px 2px 2px rgb(249 249 253);
}

.cabecera-menuTutoriales{
    color: rgb(3, 122, 3);
    display: block;
    padding: 0.5rem 1rem;
}
.cabecera-menuTutoriales:hover{
    text-decoration: underline;
    color: rgb(3, 122, 3);
}
.cabecera-menuContacto{
    color: rgb(8, 8, 168);
    display: block;
    padding: 0.5rem 1rem;
}
.cabecera-menuContacto:hover{
    text-decoration: underline;
    color: rgb(8, 8, 168);
}
/*fin Colores Menu*/


.cabecera_logo,
.pie_logo{
    width: 300px;
    padding: 0.5%;
}
/* FIN CABECERA */
/* CONTENIDO */

/* INDEX */


.contenido_servicios{
    margin: 1%;
    /* color: rgb(202, 13, 13); */
    color: rgb(88, 88, 88);
    border-bottom: 1px solid rgb(202, 13, 13) ;
    padding: 4% 0;
    /* text-align: center; */
    font-size: 16px;
    background-color: rgb(255,255,255);
    
}

/* .contenido_servicios:hover{
    background-color:rgba(202, 13, 13, 0.507); 
    color: rgb(255,255,255);
} */
/* SLIDER */

.contenido-imgSlider{
    height: 400px;
    /* width: 250px; */
    object-fit: cover;
    margin: 2%;

}
/* FIN SLIDER */

.contenido_tituloServicios{
    color: rgb(202, 13, 13);
    margin: 3% 0;
  text-align: center;
  text-decoration: underline;
  text-underline-position: under; 
}
.contenido--tituloCadaServ{
    text-decoration: underline rgb(202, 13, 13) 3px solid;
    color: rgb(202, 13, 13);
    text-underline-position: under; 
}
.cont_imagenServ{
    /* padding:0 7%; */
    margin: auto;
}

.contenido-cadaImagen{
/*     width: 300px;
    padding: 2%; */
    border: 2px solid rgb(202, 13, 13);
    box-shadow: 2px 2px 2px rgb(189 188 188);
   /*  border-radius: 20%; */
}
.contenido--imgServ{
    height: 360px;
    object-fit: cover;
}
.contenido--txtServDer{

    animation: ingresoDer 1s;
/*    visibility: hidden; */
 
}
.contenido_txtSobreDer{
    transform: translate(-50px, 15px);
    background: rgb(255 255 255);
    border: solid 2px;
    padding: 2%;
    box-shadow: 2px 2px 2px rgb(189 188 188);
}

.contenido_txtSobreIzq{
    transform: translate(60px, 15px);
    background: rgb(255 255 255);
    border: solid 2px;
    padding: 2%;
    box-shadow: 2px 2px 2px rgb(189 188 188);
    z-index: 10;
}
.contenido--txtServIzq{
    animation: ingresoIzq 1s;
 
}
@keyframes ingresoDer {
    0% {
        transform: translateZ(700px) translateY(300px) translateX(400px);
        opacity: 0;
    }
    100% {
            transform: translate(-50px, 15px);
            opacity: 1;
    }
}
@keyframes ingresoIzq {
    0% {
        transform: translateZ(700px) translateY(300px) translateX(-400px);
        opacity: 0;
    }
    100% {
        transform: translate(60px, 15px);
        opacity: 1;
    }
}
/* .contenido_servicios
:hover ~ .contenido--txtServDer{
    visibility: visible;
    animation: ingresoDer 1s;
    animation-fill-mode: forwards;
} */
/* FIN INDEX */
/* CONOCENOS */

.contenido_tituloCon{
    width: fit-content;
    margin: auto;
    padding: 1%;
    color: rgba(253, 97, 40, 0.932);
    text-decoration: underline;
    text-underline-position: under; 
}

.contenido_propositoCon{
    margin: 3%;
    padding-bottom: 3%;
    border-bottom: 1px solid rgb(253, 97, 40);
    color: rgb(63, 62, 62);
}
.contenido--imgGrupalCon{
    padding: 0 2% 2% 0;
    margin: auto;
    object-fit: cover;
    max-width: 40%;
    min-width: 300px;
}


.contenido_cadaEmp{
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-evenly;
    /* background-color: rgb(255,255,255); */
    transition: 1s linear;
    /* transition-duration: 1s; */
}

.contenido_cadaEmp:hover{
    transform: scale(1.2, 1.2);
    z-index: 100;
    /* background-color: rgb(253, 97, 40); */
}
.contenido_cadaEmp:hover .contenido--txtEmpleadoCon{
    /* transform: scale(1.2, 1.2);
    z-index: 100; */
    /* box-shadow:  2px 2px 2px rgb(189, 188, 188); */
    background: rgb(253, 97, 40);
    color: rgb(255, 255, 255);
    -webkit-box-shadow: 10px 10px 14px 2px rgba(0,0,0,0.47);
    box-shadow: 10px 10px 14px 2px rgba(0,0,0,0.47);

}



.contenido--fotoEmplCon{
    width: 200px;
    height: 200px;
    margin: 0 20%;
    padding: 1%;
    border: 1px solid rgb(253, 97, 40);
    border-radius: 50%;
    object-fit: cover;
    z-index: 10;
    background-color: rgb(255,255,255);
}

.contenido--txtEmpleadoCon{

    padding:35px 10px 10px ;
    border-radius: 2%;
    font-size: 15px;
    position: relative;
    top: -30px;
    /* background-color: rgba(253, 97, 40, 0.932) ;
    color: rgb(255, 255, 255); */
    border: 2px solid  rgba(253, 97, 40, 0.932) ;
    color: rgb(63, 62, 62);
    font-weight: 600;
    z-index: 1;
}
/* FIN CONOCENOS */

/*GALERIA*/

.contenido_tituloGal{
    width: fit-content;
    margin: auto;
    padding: 1%;
    color: rgb(63, 62, 62);
    text-decoration: underline;
    text-underline-position: under; 
}

.contenido_galeria{
    flex-wrap: wrap;
    padding-bottom: 3%;
}
.card_imgGal{
    height: 230px;
    object-fit: cover;
}

.contenido_cadaImagenGal{
    
    align-items: center;
    flex-wrap: nowrap;
    background-color: rgb(255, 255, 255) ;
    color: rgb(63, 62, 62);
    padding: 0.5%;
    /* transition-duration: 1s; */
    height: inherit;
    margin: 2%;
    width: 20rem;
    border: 2px solid rgba(236, 236, 5, 0.699);
}
.contenido_cadaImagenGal:hover{
    transform: scale(1.2, 1.2);
    z-index: 100;
    box-shadow:  2px 2px 2px rgb(189, 188, 188);
    background-color: rgba(236, 236, 5, 0.699);
    transition: 1s linear;
}

/*FIN GALERIA*/

/*TUTORIALES*/
.contenido_tituloTut{
    width: fit-content;
    margin: auto;
    padding: 1%;
    color:rgb(3, 122, 3);
    text-decoration: underline;
    text-underline-position: under; 
}

.contenido_tutoriales{
    flex-wrap: wrap;
    align-items: center;
}

.contenido_cadaVideoTut{
    width: 20rem;
    align-items: center;
    flex-wrap: nowrap;
    /* background-color: rgba(31, 128, 31, 0.774) ; */
    border: 2px solid rgb(3, 122, 3);
    border-radius: 2%;
    font-size: 15px;
    /* color: rgb(255,255,255); */
    background-color: rgb(255, 255, 255) ;
    color: rgb(3, 122, 3);
    padding:1% ;
    margin: 2%;
    /* transition-duration: 1s; */
}

.contenido_cadaVideoTut:hover{
    transform: scale(1.2, 1.2);
    z-index: 100;
    box-shadow:  2px 2px 2px rgb(189, 188, 188);
    background-color: rgb(3, 122, 3);
    transition: 1s linear;
    color: rgb(255 255 255);
}

.contenido-videoTut{
    /* width: 100%; */
    /* height: 250px; */
    margin: 1% 20%;
    border-radius: 2%;
    border-bottom: 2px solid rgb(3, 122, 3);
}
/* .contenido_cadaVideoTut:hover .contenido-videoTut{
    border-bottom: 2px solid rgb(255, 255, 255);
} */
.contenido_txtVideo{
    height: 200px;
    overflow-y: scroll;
}
.modal_video{
    width: -webkit-fill-available;
    height: 400px;
}
.fondoModalTut{
   /*  height: 302px; */
    color: rgb(255, 255, 255);
    background-color: rgb(3, 122, 3);
}
.tituloModalTut{
    color: rgb(3, 122, 3);
    /* text-align: center; */
}
/* ESTILO PARA SCROLL */
/* width */
::-webkit-scrollbar {
    width: 7px;

  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: rgb(173, 171, 171);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(27, 37, 27);
   

  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(186, 252, 186);
  }
/*FIN DE TUTORIALES*/
/*CONTACTO*/

.contenido_tituloContacto{
    width: fit-content;
    margin: auto;
    padding: 1%;
    color:rgb(8, 8, 168);
}
.contenido_formulario{
    flex-wrap: wrap;
    align-items: center;
    padding: 3%;
    background-color: rgba(2, 2, 90, 0.466);
    border-radius: 0.5%;
    color: rgb(255, 255, 255);
}

form input, form textarea{
    margin-bottom: 15px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box; 
    border: none; 
    font-size: 20px;
    resize: none; 
    font-family:'Mulish', sans-serif;
  }

.contenido_datosFrm{
    /* width: 60vh; */
    min-width: 40vh;
    max-width: 80vh;
    margin: 1%;
}

.contenido_consultaFrm{
    min-width: 40vh;
    max-width: 80vh;
}

.contenido_serviciosChk{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 1%;
    background-color: rgba(2, 2, 90, 0.466);
    border-radius: 0.5%;
    font-size: 15PX;
    text-align: center;
    margin: 1%;
}

.contenido--cadaOpcion{
    display: flex;
    align-items: center;
    align-content: flex-start;
    padding: 2%;
}

 .contenido_botones{
     display: flex;
     flex-wrap: wrap;
     justify-content: space-evenly;
     width: 100%;
 }

 .contenido--btnCon{
     width: 30%;
     background: rgb(8, 8, 168);
     color: rgb(255, 255, 255);
     font-size: 18px;
     border-radius: 2%;
 }
.contenido_ubicacion{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 2% 0;
    background-color: rgb(8, 8, 168) ;
    color: rgb(255, 255, 255);
    min-height: 50vh;
}
.mapa{
    grid-area: mapa;
}
.contenido_mapa{
    
    width: 60%;
    min-height: 50vh;
}
.contenido-imgMapa{
    min-height: 50vh;
    width: 100%;
}
.contenido_txtUbicacion{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    min-height: 50vh;

}

.contenido--direccion , .contenido--telefono{
    padding: 10% 0;
}
/*FIN CONTACTO*/

/* FOOTER */
.pie{
    background-color: rgb(63, 62, 62);
    margin-top: 2%;
    padding: 2%;
    text-align: center;  
}


.pie_navegacion{
    text-align: center;

}

.pie_navegacion li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}



.pie--iconoRedes  {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 30px;

}

.pie--iconoRedes:hover,
.pie_navegacion li a:hover {
    color: rgb(155, 153, 153);
}

/* FIN FOOTER */

@media (max-width: 780px){
   
    .cont_imagenServ{
        width: fit-content;    
    }

    .carousel--imgServ{
        object-fit: cover;
        height: 360px;
    }
    
    .carousel {
        margin-top: 30px;
    }

    .contenido_txtSobreDer,
    .contenido_txtSobreIzq {
        transform: translate(0px, 15px);
    }

    @keyframes ingresoDer {
        0% {
            transform: translateZ(700px) translateY(300px) translateX(400px);
            opacity: 0;
        }
        100% {
                transform: translate(0px, 15px);
                opacity: 1;
        }
    }
    @keyframes ingresoIzq {
        0% {
            transform: translateZ(700px) translateY(300px) translateX(-400px);
            opacity: 0;
        }
        100% {
            transform: translate(0px, 15px);
            opacity: 1;
        }
    }

    /* TUTORIALES */
    .modal_video{
        height: auto;
    }
    /* CONTACTO */
    .contenido_mapa{
        width: 90%;
        
    }

    
    

}
@media (max-width:425px){
    .contenido--txtEmpleadoCon{
        width: inherit;
        overflow-x: scroll;
    }

    #container_slider{
        display: none;
    }
}