*{
    margin: 0;
    padding: 0;
}

body{
    font-family:'Mulish', sans-serif;
    font-size: 20px;
    background-color: (255, 255, 255);

}

a,ul{
    text-decoration: none;
}
li{
    list-style: none;
}
/* CABECERA */
.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 0;
    align-items: center;
    justify-content: end;
}
/* FONDOS CABECERAS */
.fondoMenuIndex{
    background-image: linear-gradient(to top, rgb(255 255 255 / 57%),rgb(249 230 230),rgb(255, 255, 255));
}
.fondoMenuConocenos{
    background-image: linear-gradient(to top, rgb(255 255 255 / 57%),rgb(251 236 196),rgb(255, 255, 255));
}
.fondoMenuGaleria{
    background-image: linear-gradient(to top, rgb(255 255 255 / 57%),rgb(255, 254, 197),rgb(253 251 168),rgb(255 254 197),rgb(255, 255, 255));
}
.fondoMenuTutoriales{
    background-image: linear-gradient(to top, rgb(255 255 255 / 57%),rgb(130 231 130 / 45%),rgb(255, 255, 255));
}
.fondoMenuContacto{
    background-image: linear-gradient(to top, rgb(255 255 255 / 57%),rgb(210 210 255 / 42%),rgb(255, 255, 255));
}
 /* FIN DE FONDOS PARA CABECERAS */

/*Colores texto menu*/
.cabecera-menuInicio{
    color: rgb(202, 13, 13);
    display: block;
    padding: 0.5rem 1rem;
}
.cabecera-menuInicio:hover{
    text-decoration: underline; 
}

.cabecera-menuNosotros{
    color: rgb(253, 97, 40);
    display: block;
    padding: 0.5rem 1rem;
}

.cabecera-menuNosotros:hover{
    text-decoration: underline;
}

.cabecera-menuGaleria{
    color: rgb(236, 236, 5);
    display: block;
    padding: 0.5rem 1rem;
    text-shadow: 2px 2px 2px rgb(249 249 253);
}

.cabecera-menuGaleria:hover{
    text-decoration: underline;    
}

.cabecera-menuTutoriales{
    color: rgb(3, 122, 3);
    display: block;
    padding: 0.5rem 1rem;
}
.cabecera-menuTutoriales:hover{
    text-decoration: underline;
}
.cabecera-menuContacto{
    color: rgb(8, 8, 168);
    display: block;
    padding: 0.5rem 1rem;
}
.cabecera-menuContacto:hover{
    text-decoration: underline;
}
/*fin Colores Menu*/


.cabecera_logo,
.pie_logo{
    width: 300px;
    padding: 0.5%;
}
/* FIN CABECERA */
/* CONTENIDO */
/* se usa solo en galeria y tutoriales el resto se sobreescriben */
.contenido{
    grid-area: contenido;
    min-height: inherit;
    padding: 0 2%;
}
/* INDEX */


.contenido_servicios{
   /*  grid-area: servicios;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center; */
    margin: 1%;
    color: rgb(202, 13, 13);
    border-bottom: 1px solid rgb(202, 13, 13) ;
    padding: 4% 0;
    text-align: center;
    /* min-height: 50vh; */
    
}
/* SLIDER */
/* .slider{
   
    min-height: 20vh;
   

} */
.contenido-imgSlider{
    height: 250px;
    width: 250px;
    object-fit: cover;
    margin: 2%;

}
/* FIN SLIDER */

.contenido_tituloServicios{
    color: rgb(202, 13, 13);
    margin: 3% 0;
  text-align: center;
}
.cont_imagenServ{
    padding:0 7%;
    
}
.contenido-cadaImagen{
    width: 150px;
    padding: 2%;
    border: 5px solid;
    border-radius: 20%;
}


/* FIN INDEX */
/* CONOCENOS */
.contenidoConocenos{
    font-family:'Mulish', sans-serif;
    font-size: 20px;
    background-color: (255, 255, 255);
    display: grid;
    grid-template-areas: 
    "cabecera"
    "proposito"
    "proposito"
    "empleados"
    "empleados"
    "pie";
    min-height: 100vh; 
}
.contenido_tituloCon{
    width: fit-content;
    margin: auto;
    padding: 1%;
    color: rgba(253, 97, 40, 0.932);
}
.proposito{
    grid-area: proposito;
   
}
.contenido_propositoCon{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 3%;
    padding-bottom: 3%;
    border-bottom: 1px solid rgb(253, 97, 40);
    color: rgba(253, 97, 40, 0.932);
}
.contenido--imgGrupalCon{
    padding: 0 2% 2% 0;
    margin: auto;
    object-fit: cover;
}

.contenido--txtPropositoCon{
    width: 60%;
}
.empleados{
    grid-area: empleados;
}
.contenido_empleadosCon{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-bottom: 3%;
    width: 90%;
    margin: auto;
}
.contenido_cadaEmp{
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-evenly;
}

.contenido--fotoEmplCon{
    width: 150px;
    height: 150px;
    margin: 1% 20%;
    padding: 1%;
    border: 1px solid rgb(253, 97, 40);
    border-radius: 50%;
    object-fit: cover;
    z-index: 10;
}

.contenido--txtEmpleadoCon{

    width: 70%;
    height: 30%;
    padding: 6% 2%;
    border-radius: 2%;
    font-size: 15px;
    position: relative;
    top: -30px;
    background-color: rgba(253, 97, 40, 0.932) ;
    color: rgb(255, 255, 255);
    font-weight: 600;
    z-index: 1;
}
/* FIN CONOCENOS */
/*GALERIA*/

.contenido_tituloGal{
    width: fit-content;
    margin: auto;
    padding: 1%;
    color: rgb(63, 62, 62);
}

.contenido_galeria{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 3%;
}

.contenido_cadaImagenGal{
    width: 50vh;
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: rgba(236, 236, 5, 0.699) ;
    border-radius: 2%;
    color: rgb(63, 62, 62);
    padding: 0.5% 2%;
    margin: 2% ;
    font-size: 15px;
    transition-duration: 1s;

}
.contenido_cadaImagenGal:hover{
    transform: scale(1.2, 1.2);
    z-index: 100;
    box-shadow:  2px 2px 2px rgb(189, 188, 188);
}
.contenido-imgGal{
    width: inherit;
    max-width: 350px;
    height: 300px;
    margin: 1% 20%;
    padding: 1%;
    border-radius: 10%;
    object-fit: cover;
  
}
/*FIN GALERIA*/
/*TUTORIALES*/
.contenido_tituloTut{
    width: fit-content;
    margin: auto;
    padding: 1%;
    color:rgb(3, 122, 3);
}

.contenido_tutoriales{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.contenido_cadaVideoTut{
    width: 60vh;
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    background-color: rgba(31, 128, 31, 0.774) ;
    border-radius: 2%;
    font-size: 15px;
    color: rgb(255,255,255);
    padding:1% ;
    margin: 2%;
    transition-duration: 1s;
}

.contenido_cadaVideoTut:hover{
    transform: scale(1.2, 1.2);
    z-index: 100;
    box-shadow:  2px 2px 2px rgb(189, 188, 188);
}
.contenido-videoTut{
    width: 100%;
    height: 250px;
    margin: 1% 20%;
    object-fit: cover
}
/*FIN DE TUTORIALES*/
/*CONTACTO*/
.contenidoContacto{
    font-family:'Mulish', sans-serif;
    font-size: 20px;
    background-color: (255, 255, 255);
    display: grid;
    grid-template-areas: 
    "cabecera"
    "formulario"
    "formulario"
    "formulario"
    "mapa"
    "pie";
    min-height: 100vh; 
}
.formulario{
    grid-area: formulario;
}
.contenido_tituloContacto{
    width: fit-content;
    margin: auto;
    padding: 1%;
    color:rgb(8, 8, 168);
}
.contenido_formulario{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 3%;
    background-color: rgba(2, 2, 90, 0.466);
    border-radius: 0.5%;
    color: rgb(255, 255, 255);
}

form input, form textarea{
    margin-bottom: 15px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box; 
    border: none; 
    font-size: 20px;
    resize: none; 
    font-family:'Mulish', sans-serif;
  }

.contenido_datosFrm{
    /* width: 60vh; */
    min-width: 40vh;
    max-width: 80vh;
    margin: 1%;
}

.contenido_consultaFrm{
    min-width: 40vh;
    max-width: 80vh;
}

.contenido_serviciosChk{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 1%;
    background-color: rgba(2, 2, 90, 0.466);
    border-radius: 0.5%;
    font-size: 15PX;
    text-align: center;
    margin: 1%;
}

.contenido--cadaOpcion{
    display: flex;
    align-items: center;
    align-content: flex-start;
    padding: 2%;
}

 .contenido_botones{
     display: flex;
     flex-wrap: wrap;
     justify-content: space-evenly;
     width: 100%;
 }

 .contenido--btnCon{
     width: 30%;
     background: rgb(8, 8, 168);
     color: rgb(255, 255, 255);
     font-size: 18px;
     border-radius: 2%;
 }
.contenido_ubicacion{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 2% 0;
    background-color: rgb(8, 8, 168) ;
    color: rgb(255, 255, 255);
    min-height: 50vh;
}
.mapa{
    grid-area: mapa;
}
.contenido_mapa{
    
    width: 60%;
    min-height: 50vh;
}
.contenido-imgMapa{
    min-height: 50vh;
    width: 100%;
}
.contenido_txtUbicacion{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    min-height: 50vh;

}

.contenido--direccion , .contenido--telefono{
    padding: 10% 0;
}
/*FIN CONTACTO*/
/* FIN CONTENIDO */
/* FOOTER */
.pie{
    /* grid-area: pie; */
    background-color: rgb(63, 62, 62);
    margin-top: 2%;
    padding: 2%;
    text-align: center;
    /* display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap; */
}


.pie_navegacion{
    text-align: center;
    width: 20%;
}

.pie_navegacion li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.pie_Redes{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 30%;
}

.pie--iconoRedes  {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 30px;

}

.pie--iconoRedes:hover,
.pie_navegacion li a:hover {
    color: rgb(155, 153, 153);
}

/* FIN FOOTER */

@media (max-width: 780px){
    .cabecera,
    .cabecera_menu,
    .pie{
        display: inline-block;
        text-align: center;
        padding: 2%;
    }

    /* CABECERA */
    .cabecera_logo{
        display: block;
        margin: auto;
    }
    /* FIN CABECERA */
    
    /* CONTENIDOS */

    /* INDEX */
    .contenido_slider {
        width: 100vh;
        margin: auto;
    }
    .contenido_textoServ
    {
        width: 100%;
    }

    .cont_imagenServ{
        /* padding:0 7%; */
        width: fit-content;    
    }
    /* FIN INDEX */

    /* GALERIA */
    .contenido_cadaImagenGal{
        margin: 2% auto;
    }
    /* FIN GALERIA */

    /* CONTACTO */
    .contenido_mapa{
        width: 90%;
        
    }
    /* FIN CONTACTO */

    /* FIN CONTENIDOS */

    /* FOOTER */
    .pie_Redes,
    .pie_navegacion{
        margin: auto;
        padding: 2%;
    }

}